
.logueo{
background: -webkit-linear-gradient(90deg, rgb(59, 18, 1) 10%, rgb(54, 45, 28) 90%);
border-radius: 10px;
color: #883e09;
margin: auto;
padding: 24px;
}

h1{
    color: #883e09;
  
}
.btn{
    background-color: #c78408

}
::placeholder{
    border-radius: 3%;
    color: #837d78;
    font-size: 14px;
    background-color: #f0daca;
 
}