/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Ephesis&display=swap');

/* colores fuente
color:#c78408; hover
color: #883e09; texto 
color: whitesmoke;
*/
/*font-family: 'Aclonica', sans-serif; 
font-family: 'Abril Fatface', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #883e09;
    font-family: 'Abril Fatface', sans-serif;
    background-image: url(assets/fondito.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
p{
    
    font-family: 'Aclonica', sans-serif; 
    font-size: 14px;
}
.card{
    background-color: #f6d0b1;
    color: #883e09;
}
a{
    color: #883e09;
}