<header class="container-fluid bg-fs-3 text-light d-flex header">
  <img src="assets/arpedag.jpg" class="logo" alt="Logo de la empresa">
  <h1>Chocolates Arpedag</h1>

</header>
<!-- CARRUSEL-->
<div id="slideCacao" class="carousel slide mx-5">

  <div class="carousel-inner">
    <div class="carousel-item active d-item">
      <img src="../../../assets/cacao3.jpeg" class="d-block w-100 d-img img-carus" alt="Cultivo del Cacao">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caru-h5"> 100% Natural</h5>
        <p class="caru-h5">Productos elaborados con materiales Orgánicos.</p>
      </div>
    </div>
    <div class="carousel-item d-item">
      <img src="../../../assets/cacao2.jpg" class="d-block w-100 d-img img-carus" alt="transformación del cacao">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caru-h5">Proceso de elaboración y transformación</h5>
      </div>
    </div>
    <div class="carousel-item d-item">
      <img src="../../../assets/diseños.jpg" class="d-block w-100 d-img img-carus" alt="Diseños">
      <div class="carousel-caption d-none d-md-block">
        <h5 class="caru-h5">Diseños a tú Gusto</h5>
        <p class="caru-h5">Sueña, Crea y disfruta a tú Gusto</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#slideCacao" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#slideCacao" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Fin del carrusel-->

<!--Sobre la empresa -->


<!-- Vista diferida -->
<section>
  @defer (on viewport){
<div class="row my-4 mx-3 empresa">

  <div class="col-sm-12 mb-6 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Sobre Nosotros</h3>
        <img src="../../../assets/copita.jpg" alt="sueños de chocolate">
        <p class="card-text">CHOCOLATES ARPEDAG una empresa creada a partir de sueños y de la necesidad
           de tener un producto de la canasta familiar el cual sea de alta calidad y 100% limpio y 
           natural. 
           continuamos consolidando, mejorando los procesos de producción y transformación</p>
        </div>
    </div>
  </div>

  <div class="col-sm-12 mb-6 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Objetivo General</h3>
        <p class="card-text"> Crear estrategias que promuevan el crecimiento y desarrollo de la empresa,
           y generar mayor producción y rentabilidad, sin olvidar la naturalidad y pureza del producto.
           Lograr una creciente generación de valor brindando calidad de vida al consumidor final .</p>
        </div>
    </div>
  </div>
  <div class="col-sm-12 mb-6 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Objetivos específicos</h3>
        <div class="card-text">
          <ol>
            <li class="texto"> Ampliar el mercado teniendo en cuenta los diversos sectores de segmentación </li>
            <li class="texto"> Ofrecer al consumidor un producto de mayor calidad y tecnificación </li>
            <li class="texto"> Mejorar las condicionas del sector cacaotero </li>
            <li class="texto"> alcanzar reconocimiento del como productores</li>
          </ol> 
        </div>
      </div>
    </div>
  </div>
  <div class=" iframe col-sm-12 lg-6 my-4 px-2 ">
    <div class="card">
      <div class="card-body mx-5 my-3">
        <h3 class="card-title text-center">Presentación de la empresa</h3>
        <p class="card-text"> La finca el JAZMIN ubicada en una vereda cerca al casco urbano del 
          municipio de Rioblanco Tolima, finca donde se cultiva cacao; para el señor Edgar Prada, 
          el avance y la evolución eran factores importantes para el crecimiento de la sociedad y 
          la vida campesina, siempre motivo a sus hijas a valorar el campo y a buscar estrategias 
          para un mayor aprovechamiento de las tierras, así es como nace esta idea de negocio, que 
          se basa en convertir la finca en una empresa, en una fuente de ingreso , a través de la 
          tecnología y las diversas ideas bien estructuradas. A raíz de lo anterior nace la empresa
           CHOCOLATES ARPEDAG una empresa creada a partir de sueños y de la necesidad de tener un 
           producto de la canasta familiar el cual sea de alta calidad y 100% limpio y natural, 
           brindando al consumidor un producto sano y alimenticio. </p>
         

        
            <iframe class=" iframe-ifr" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.2484662901793!2d-75.64685275019036!3d3.529990304499876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3bd3eac94338f9%3A0x85b9af7598510be1!2sRioblanco%2C%20Tolima!5e0!3m2!1ses!2sco!4v1708476444336!5m2!1ses!2sco"
            width="550" height="350" style="border:0;" allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe> 
            
            <iframe class="iframe-ifr"width="550" height="350" controls="autoplay" src="https://www.youtube.com/embed/5w6srAMBR6Q?si=iy160JSb2hlI8CoM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
             allowfullscreen>
            </iframe>
          

        <a href="#" class="btn btn-primary">Go somewhere</a>
       
        </div>
      </div>
    </div>
  </div> 
  <figure class="img-div2 justify-content-center my5">
    <img class="img1 img-fluid" src="../../../assets/cacao.jpeg" alt="tipos de cultivo">
  </figure> 

  }@placeholder {
  <div class="alert alert-info" role="alert">Información Próxima...</div>
  }
  @loading (minimum 4s){
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden"> Cargando información...</span>
    </div>
  </div>
  }
  </section>


<!-- Footer-->
<footer>
  <div class="card text-center" style="width:100%">
    <div class="card-footer">
      <h5 class="card-title"> Chocolates Arpedag</h5>
      <p class="card-text"> Productos de alta calidad... 100% limpio, natural y orgánico.</p>
      <a href="#" class="btn "> Más Información</a>
    </div>
    
  </div>
</footer>
